<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-9 col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
        <div class="form-group">
          <form class="form-group" action="/newMessage" method="post">
            <label for="message">&nbspMake a post!</label>
            <textarea class="form-control" name="message" rows="5" cols="100" placeholder="Insert your message"></textarea>
            <br>
            <button type="submit" class="btn btn-default" name="submit" value="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    {{#each messages}}
      <div class="row">
        <div class = "col-sm-1">
          <img class="img-thumbnail" src="/images/dude.jpg">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p style="text-align:left;">
                <a href="/profile/{{this.uid}}"><strong>{{this.firstName}} {{this.lastName}}</strong></a>
                <span class="text-muted" style="float:right;"> 	&nbsp {{this.likes}} likes</span> <span style="float:right;"class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              </p>
            </div>
            <div class="panel-body">
              <p>{{this.content}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
