<div class="profile">
  <div class="container">
    <nav class="navbar"></nav>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img class="img-fluid rounded img-thumbnail" src="/images/dude.jpg" alt="profile picture">
        <div class="col">
          <div class="card h-100">
            {{#if summary}}
              <div class="card-body">
                <h2 class ="card-text">{{firstName}} {{lastName}}: {{summary}}</p>
              </div>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="container">
          {{#each messages}}
          <div class="row">

            <div class = "col-sm-1">
              <img class="img-thumbnail" src="/images/dude.jpg">
            </div>

            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <p style="text-align:left;">
                    <a href="/profile/{{this.uid}}"><strong>{{this.firstName}} {{this.lastName}}</strong></a>
                    <span class="text-muted" style="float:right;"> 	&nbsp {{this.likes}} likes</span> <span style="float:right;"class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  </p>
                </div>
                <div class="panel-body">
                  <p>{{this.content}}</p>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
