<!--
  TODO : sort the users messages by recent
         look at feed
-->
<script src="/javascript/postMessage.js" charset="utf-8"></script>
<script src="/javascript/sort.js" charset="utf-8"></script>

<div class="profile">
  <div class="container">
    <nav class="navbar"></nav>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img class="img-fluid rounded img-thumbnail" src="/images/dude.jpg" alt="profile picture" id="hide">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-text">{{uFirstName}} {{uLastName}}</h2>
            </div>
            <div id="long">
              {{#if uSummary}}<i>{{uSummary}}</i>{{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="container">
          <div id="messages"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  let messDiv = document.getElementById('messages');
  messDiv.innerHTML = '';
  let info = {};
  let mess = [];
  let messRef = firebase.database().ref('Messages').child('{{uid}}');
  messRef.on('value', (data) => {
    let v = data.val();
    mess = [];
    for (let key in v) {
      let messInfo = {};
      messInfo.content = v[key].message;
      messInfo.likes = v[key].likes;
      messInfo.timestamp = v[key].timestamp;
      messInfo.key = key;
      firebase.database().ref('Users').child('{{uid}}').once('value', (data) => {
        messInfo.firstName = data.val().firstName;
        messInfo.lastName = data.val().lastName;
        messInfo.uid = '{{uid}}';
        mess.push(messInfo);
        quickSort(mess);
        messDiv.innerHTML = '';
        for (let i = 0; i < mess.length; i++) {
          messDiv.innerHTML += '<div class="row"><div class="col-sm-1"><img class="img-thumbnail" id="hide" src="/images/dude.jpg"></div><div class="col-sm-12 col-md-12 col-lg-8"><div class="panel panel-default"><div class="panel-heading"><p style="text-align:left;"><a href="/profile/' + mess[i].uid + '"><strong>' + mess[i].firstName + ' ' + mess[i].lastName + '</strong></a><span class="text-muted" style="float:right;"> 	&nbsp '+ mess[i].likes +' likes</span> <span style="float:right;"class="glyphicon glyphicon-thumbs-up" aria-hidden="true" onclick="incLike(\'' + mess[i].uid + '\', \'' + mess[i].key + '\', \'{{myUid}}\')"></span></p></div><div class="panel-body"><p>'+ mess[i].content +'</p></div></div></div></div>';
        }
      });
    }
  });
</script>
