<nav class="navbar navbar-default" id ="Test">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BookFace</a>
      <img src="/images/043_success-mail.gif" width=100px height=50px>
      </div>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/{{myUid}}">{{firstName}} {{lastName}} <img src="/images/dude.jpg" width=25px class="img-thumbnail" aria-hidden="true">
          <li><a href="/settings"><span class="glyphicon glyphicon-cog"aria-hidden="true" id="Test" width=10px></span></a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true" id = "Test"></a></li>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="profile">
  <div class="container">
    <nav class="navbar">
    </nav>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-fluid rounded img-thumbnail" src="/images/dude.jpg" width=200px height=200px alt="">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <br>
              </div>
              <div class="card-footer">
                <a href ="/settings" class ="btn btn-default">Change picture</a>
              </div>
              <br>
              <div class="card-footer">
                <a href ="/settings" class ="btn btn-danger">Delete account</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="container">
            <h2>Change your settings</h2>
            <form action="#" id="cent">
              <div class="form-group" id="formG">
                <label for="firstname">Change First Name:</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter first name" name="firstName" value="{{firstName}}">
              </div>
              <div class="form-group" id="formG">
                <label for="lastname">Change Last Name:</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter last name" name="lastName" value="{{lastName}}">
              </div>
              <div class="form-group" id="formG">
                <label for="pwd">Change Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" value="">
              </div>
              <button type="submit" class="btn btn-default">Update settings</button>
            </form>
          </div>
